@model Application.Models.ApplicationGroup
@{
    ViewBag.Title = "新增角色";
    Layout = "~/Views/Shared/_AdminLte3.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description)

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">權限</div>
                    <div class="card-body">
                        <ul>
                            @foreach (var item in (SelectList)ViewBag.RolesList)
                            {
                                <li>
                                    <label>
                                        <input type="checkbox" name="SelectedRoles" value="@item.Text" class="checkbox-inline" />
                                        @Html.Encode(item.Text)
                                    </label>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
                <div class="form-group">
                    <a class="btn btn-warning" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i> 返回</a>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> 存檔 </button>
                </div>
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
