@model Application.Models.ApplicationGroup

@{
    ViewBag.Title = "檢視角色";
    Layout = "~/Views/Shared/_AdminLte3.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <td>@Html.DisplayFor(model => model.Name)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <td>@Html.DisplayFor(model => model.Description)</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">權限</div>
                <div class="card-body">
                    @if (ViewBag.PermissionsCount == 0)
                    {
                        <p>No users found in this role.</p>
                    }
                    else
                    {
                        <ul>
                            @foreach (var item in ViewBag.RolesList)
                            {
                                <li>
                                    @Html.Encode(item)
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
            <div class="col-12">
                <a class="btn btn-warning" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i>返回</a>
                <a class="btn btn-default" href="@Url.Action("Edit",new { id = Model.Id })"><i class="fas fa-pen"></i>編輯</a>
            </div>
        </div>
    </div>
</div>
