@model Application.ViewModels.GroupViewModel

@{
    ViewBag.Title = "編輯角色";
    Layout = "~/Views/Shared/_AdminLte3.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label" })

                            @Html.TextBoxFor(model => model.Description, new {@class="form-control"})
                            @Html.ValidationMessageFor(model => model.Description)

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">關聯權限</div>
                    <div class="card-body">
                        <div class="form-group">
                            <ul>
                                @foreach (var item in Model.RolesList)
                                {
                                    <li>
                                        <label>
                                            <input type="checkbox" name="selectedRoles" value="@item.Text" checked="@item.Selected" class="checkbox-inline" />
                                            @Html.Encode(item.Text)
                                        </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <a class="btn btn-warning" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i> 返回</a>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> 存檔 </button>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
